__pycache__/
*.pyc
.DS_Store
.coverage
.env
.venv/
venv/
*.pem
*.cert
*.key
configs/*.env
!configs/*.example.env
# data/
artifacts/
# Ignore all models except those in popularity for CI/CD placeholder
models/*/model.pkl
models/*/metadata.json
!models/popularity/model.pkl
!models/popularity/metadata.json
